main {
  margin: 20px;
}

header {
  position: absolute;
  top: 0;
  min-height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3e3c3c;
  width: 100%;
  height: 72px;
  left: 0;
}

.logo {
  width: 60vw;
}

.logo > #header-img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

nav {
  font-weight: 400;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {    
  list-style: none;
  margin: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

#header-img {
  color: #fff;
}