body {
    position: absolute;
    width: 1440px;
    height: 74px;
    left: 0;
    top: 0;
    background-color: #3E3C3C;
}

.nav-bar {
    position: absolute;
²   width: 1440px;width
    height: 72px;
    left: 0px;
    top: 0px;
}

.my-logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 255px;
    height: 40px;
    right: 194px;
    top: calc(50% - 40px/2);
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;

    width: 87px;
    height: 40px;
}

a {
    width: 63px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;


/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
